@model PublicTransportNavigator.Models.BusSeat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BusSeat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bus.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoordX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoordX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoordY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoordY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
